@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');
@font-face {
    font-family: "Bahnschrift";
    src:url('./fonts/bahnschrift.ttf') format('truetype');
}
@font-face {
    font-family: "Germania One";
    src:url('./fonts/GermaniaOne-Regular.ttf') format('truetype');
}
body{
    background: url("../images/WhiteHouse.jpg") no-repeat fixed center center;
    background-size: cover;
}
a{
    text-decoration: none;
}
.main{
    margin-bottom: 2.5%;
}
.gameContainer{
    font-family: "Bahnschrift", sans-serif;
    font-weight:lighter;
    width:94vw;
    min-height:80vh;
    text-align:center;
    background-color: rgba(255,255,255,0.85);
    margin: auto;
}
.footerBar{
    font-family: "Source Sans Pro", 'sans-serif';
    font-size: 15px;
    width:94vw;
    background-color: rgba(0, 0, 0, 0.80);
    margin:auto;
    color:white;
    text-align:center;
    padding: 4px 4px 4px 4px;
}
.footerBar p{
    margin-bottom: 0;
}
.footerInformation{
    display:inherit;
    border-top: solid 1px black;
    bottom:0;
    position:fixed;
    width:100%;
    text-align: center;
    -webkit-transition: opacity 0.4s;
    background-color:rgba(240,240,240);
}
.footerInformation p{
    font-family: "Inconsolata","sans-serif";
    letter-spacing: -0.02em;
    word-spacing:0em;
    font-size: 18px;
    font-weight:normal;
    margin:1px 0 1px 0;
}
.footerInformation:hover, .footerInformation p:hover{
    opacity: 0;
    -webkit-transition: opacity 0.4s;
}
.greenFont{
    display: inline;
    font-weight:bold;
    color: #137526;
}
.redFont{
    display: inline;
    font-weight:bold;
    color: #ff0000;
}
.bold{
    font-weight: bold;
}

.tableForm table>tbody>tr>td{
    text-align:left;
    padding-right:6px;
}
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: lightgrey;
}
.table-striped > tbody > tr:nth-child(2n+2) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #E0E0E0;
}
.bg-dark{
    background-color: black !important;
}
.navbar-dark .navbar-nav .nav-link{
    color:rgba(255,255,255,0.88)!important;
}
.navbar-brand{
    font-family: "Germania One",sans-serif;
    font-weight:lighter;
    font-size: 28px;
}
.navbar-brand small {
    display:block;
    font-size:12px;
    margin-top:-9px;
}
.nav-link {
    font-family: "Bahnschrift", sans-serif;
}

#leftText > tbody > tr > td {
    text-align: left;
}

.dark > tr {
    font-family: "Source Sans Pro", 'sans-serif';
    background-color: #111111;
    color: white;
}
.xdebug-var-dump{
    text-align: left;
    margin: auto;
    width: 75%;
    background-color: white;
    margin-bottom: 80px;
}
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 8px;
    height: 6px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb
{
    background-color: #000000;
    border: 1px solid #555555;
}

a .morelink:visited {
    color: #0254EB
}
a .morelink {
    text-decoration:none;
    outline: none;
}
.morecontent .content{
    display: none;
}

.chart {
    margin: auto;
    height: 40vh;
    width: 30vw
}

.box input, select {
    margin-top: 8px
}
/*.select2-container {*/
/*    width: auto !important;*/
/*}*/

@media only screen and (max-width:768px){
    .gameContainer{
        font-family: "Bahnschrift", sans-serif;
        font-weight:lighter;
        width:100vw;
        min-height:80vh;
        text-align:center;
        background-color: rgba(255,255,255,0.88);
        margin: auto;
    }
    .footerBar{
        width:100vw;
    }
    .table table-striped{
        padding: 2px;
    }
    .chart{
        margin:auto;
        height:40vh;
        width:66vw
    }
}
