.card{
    padding: 6px 6px 6px 6px;
    margin-left:12px;
    margin-right:12px;
    min-height: 100%;
    border: 1px black solid;
}
.col-sm-4{
    margin-bottom:15px;
}
.card-body{
    padding-top:1px;
}
.party-leader-pic{
    max-width:15%;
    max-height:12%;
}
.partyBioContainer{
    font-family: Bahnschrift,"sans-serif";
    text-align: left;
    font-size: 16px;
    background-color: rgba(224,224,224,0.88);
    height:200px;
    max-height: 25vh;
    vertical-align: center;
    white-space: pre-wrap;
    padding: 15px;
    overflow: auto;
}
.partyImgLogo{
    mix-blend-mode: multiply;
    max-width:350px;
    height:150px;
    margin:auto;
}
.partyInfo{
    min-height:50%;
}
.partyImgContainer{
    vertical-align: center;
    background-color:rgb(232,232,232);
    padding-bottom: 8px;
    padding-top:8px;
}
.partyNameContainer{
    width: 100%;
    background-color:rgb(220,220,220);
}
.partyNameContainer a{
    margin-top:3px;
    margin-bottom:3px;
    font-size: 20px;
}
.leaderImg{
    max-width:170px;
    height:100px;
}