RewriteEngine on
RewriteCond %{HTTP_HOST} ^europeanperil.com [NC]
RewriteRule ^(.*)$ https://www.europeanperil.com/authority/$1 [L,R=301,NC]

RewriteCond %{HTTP_HOST} ^europeanperil.com [NC]
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
RewriteRule ^(./config/server.json) - [F,L,NC]

<Files "server.json">
Order Allow,Deny
Deny from all
</Files>