
RewriteCond %{HTTP_HOST} ^europeanperil.com [NC]
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
RewriteRule ^(./config/server.json) - [F,L,NC]

<Files "server.json">
Order Allow,Deny
Deny from all
</Files>